@font-face{
    font-family:Arial, Helvetica, sans-serif
    src: url('../fonts/HelveticaLTStdBold.otf.');
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
body, html{
    color: #292a2c;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.semplice-cover-inner{
    width: 100%;
    height: 100%;
}
.background-video{
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: top center;
    top: 0;
    left: 0;
}
.semplice-cover, 
.show-more{
    width: 100%;
    z-index: 105;
    display: flex;
    padding: 30px;
    justify-content: center;
    position: absolute;
}
.show-more{
    bottom: 0%;
    right: 0%;
    cursor: pointer;
}
.show-more svg {
    fill: #fff;
}
a{
    color: #4a4a4a;
}
.semplice-cover{
    overflow: hidden;
    height: 95vh;
    display: flex;
    flex-direction: column;
    border-style: solid;
    position: relative;
    width: 100%;
}
.sections, 
#content-9{
    margin-top: 0px !important;
}
.sections{
    overflow-x: hidden;
    overflow-y: hidden;
}
.transition-wrap{
    width: 100%;
    min-height: 100%;
    position: absolute;
}
.transition-wrap{
    background: #fff;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
#content-holder{
    background-color: transparent;
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}
#content-holder,
.content-container{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}
#content-9 #section_istfkfnxk {
    padding-top: 6.666666666666667rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}
.content-block{
    display: flex;
    flex-direction: column;
    border-style: solid;
    position: relative;
    width: 100%;
}
.container,
#content-holder{
    align-content: stretch;
    align-items: stretch;
}
#content-holder .semplice-cover .column {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    border-style: solid;
    position: relative;
}
[data-xl-width='10'] {
    width: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
    flex: 0 0 auto;
    flex-basis: calc(100% / 12 * 10);
}
.column{
    width: 100%;
    border-style: solid;
    position: relative;
}
.h1{
    font-size: 62px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.p{
    font-weight: regular;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    top: 40%;
    left: 20%;
    position: relative;
}
#content-holder, 
.container, 
.row {
    justify-content: center;
    align-items: center;
}
.row {
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row {
    /* display: flex; */
    margin-left: 5.13333rem;
    margin-right: -0.83333rem;
}
#logo{
    z-index: 200;
    position: absolute;
}
header {
    position: fixed;
    z-index: 201;
    width: 100%;
    height: 5%;
    background: #000000;
}
li{
    list-style-type: none;
}
#menu-a:hover{
    opacity: 0.8;
    transition: 0.6s;
}
.ul-navbar{
    display: flex;
}
.navbar{
    display: block;
    position: relative;
    left: 80%;
}
#menu-a{
    margin-left: 15px;
    color: #ffffff;
    font-weight: bold;
}

.navbar-menu{
    justify-content: center;
    align-items: center;
    left: 20%;
    position: relative;
    padding-top: 15px;
}
#Ebene_2_1_{
    animation: swim 1.5s ease-in-out infinite alternate;
}
@keyframes swim {
    from{
        transform: translateY(-10px);
    }


    to{
        transform: translateY(6px);
    }
}

p{
    color: rgb(110, 110, 110);
}
.phone{
    display: flex;
}
.animate{
    transform: translate(0px, 0px);
    opacity: 1;
}
.scroll-animation{
    width: 100%;
    position: relative;
}

.daydream-container{
    display: flex;
    justify-content: center;
}
.daydream-p{
    width: 38%;
    margin-right: 15%;
}
.daydream-p p{
    margin-bottom: 22px;
}
.sketch{
    background-image: url(https://jmd.im/wp-content/uploads/2017/04/gradient_bg.png);
    background-size: cover;
    background-position: 0% 0%;
}
.text-sketch{
    color: #ffffff;
    width: 30%;
    margin-right: 10%;
}
.text-sketch p {
    margin-bottom: 22px;
    color: #ffffff;
    font-size: 18px;
}
.container-sketch{
    display: flex;
    justify-content: center;
    top: 35%;
    position: relative;
}

#rubin{
    animation: swim 1s ease-in-out infinite alternate;
}

.gmail-section{
    background-color: #0077ff;
    padding-top: 6.666666666666667rem;
}
p{
    font-size: 18px !important;
}
    h2{
    font-size: 42px !important;
    font-weight: bold !important;
}
.gmail-text{
    color: #ffffff;
    width: 30%;
    margin-right: 10%;
}
.gmail-text p {
    color: #ffffff;
    margin-bottom: 22px;
}
.gmail-container{
    display: flex;
    justify-content: center;
}
#inbox{
    position: relative;
    left: 20%;
}
.container-sparrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-sparrow p{
    margin-bottom: 22px;
}
.text-sparrow{
    width: 36.5%;
    margin-right: 10%;
}
.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.footer a{
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
}
.footer-text p{
    display: flex;
    justify-content: center;
    font-size: 12px !important;
}
#particle-canvas {
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    position: absolute;
  }
#Ebene_2_1{
    z-index: 300;
    background-color: #000000;
}
.background-img{
    background-image: url(https://jmd.im/wp-content/uploads/2022/01/Black_Rocks.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: top center;
    top: 0;
    left: 0;
}
#button-season{
    color: #ffffff;
    background: #000000;
    width: 150px;
    height: 55px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.button-block1{
    margin-top: 25px;
    margin-left: 20px;
}
.print{
    display: flex;
}
#button-season:hover{
    opacity: 0.8;
}
#button-print{
    color: #ffffff;
    background: #000000;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.3s;
}
.button-print{
    display: flex;
    justify-content: center;
}
#button-print:hover{
    opacity: 0.8;
}

.button-print2{
    display: flex;
    justify-content: space-around;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#daydream{
    animation: lightswim 9s infinite linear;
}
@keyframes lightswim {
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }


    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
header {
    transition: background-color 0.5s ease;
  }
  
  header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
  }

@media (max-width: 1000px) {
    .column{
        right: 10%;
    }
}
@media (max-width: 850px) {
    .column{
        right: 15%;
    }
}
@media (max-width: 750px) {
    .column{
        right: 19%;
    }
    .ul-navbar{
        display: none;
    }
}
@media (max-width:600px) {
    .column{
        right: 25%;
        margin-right: 10%;
    }
}
@media (max-width: 562px) {
    .footer a{
        font-size: 13px;
    }
    .footer-text p{
        text-align: center;
    }
}
@media (max-width: 536px) {
    .column{
        right: 30%;
        margin-right: 10%;
    }
}
@media (max-width: 450px) {
    .footer a{
        font-size: 11px !important;
    }
}
@media (max-width: 440px){
    .column{
        right: 35%;
        margin-right: 10%;
    }
}
@media (max-width: 375px) {
    .column{
        right: 35%;
    }
    .column .h1{
        font-size: 40px !important;
    }
    .column .p{
        font-size: 17px !important;
    }
    header{
        padding-bottom: 10px;
    }
    .black{
        position: relative;
        right: 20% !important;
    }
}
@media (max-width: 414px) {
    .black{
        position: relative;
        right: 20% !important;
    }
}
@media (max-width: 280px) {
    .column{
        right: 50%;
    }
    .column .h1{
        font-size: 40px !important;
    }
    #button-season{
        margin-bottom: 20px;
    }
    .column .p{
        font-size: 17px !important;
    }
    #button-print{
        width: 100px;
        font-size: 13px;
    }
    .black{
        position: relative;
        right: 20% !important;
        font-size: 40px !important;
    }
    .footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer a{
        font-size: 13px !important;
    }
    footer a{
        margin-bottom: 10px;
    }
    .footer-text p{
        font-size: 10px !important;
        text-align: center;
    }
}
